@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

html,
body{
	height:100%;
}

body{
	background-color: #725051;
	overflow:hidden;
	background-size:cover;
	background-position:50% 50%;

	&[data-current-slide-class]{
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		transition:all 0.4s ease;
	}
}


#wrapper{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-size:cover;
	background-position:50% 50%;
}

#stage{
	display:none;
	position:absolute;
	width:1600px;
	height:900px;
	// background:rgb(231, 41, 50);
	overflow:hidden;

	&.mobile,
	&.vertical{
		// background-color:purple;
		width:900px;
		height:1600px;
	}

	&[data-3d="true"]{
		transition:all 0.4s ease;
		perspective:400px;

		#presentation{
			transform: rotateX(0deg) translateY(0px);
			transform-origin: 50% 100%;
			top:0px;
		}

		&.perspective #presentation{
			transform: rotateX(31deg) translateY(0px);
			top: -620px !important;
		}
	}

	&.grabbing{
		cursor: move; /* fallback if grab cursor is unsupported */
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
	}

	#presentation{
		transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		position:absolute;
		width:100%;
		height:100%;
		left:0px;
		top:0px;
		z-index:10;

		&.padding{
			.slide{
				padding:20px;
			}
		}

		&.horizontal > .slide,
		&.vertical > .slide{
			position:absolute;
			left:0px;
			top:0px;
		}

		.slide{
			display:inline-block;
			float:left;
			width:100%;
			height:100%;
			position:absolute;
			overflow:hidden;
			background-size:contain;
			background-repeat:no-repeat;
			background-position:0px 0px;
		}
	}
}

iframe{
	width:100%;
	min-height:450px;
}

#threejs-stage,
#threejs-stage > canvas{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.fs-bg{
	background-size:contain;
	background-repeat:no-repeat;
}

.abs-p{
	position:absolute;
}


.title-slide{
    width: 90%;
    height: auto;
    text-align: left;
	margin-left: 5%;
	.icon-activity{
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 2%;
		background: url(../img/icon-activity.png);
	}
    h2{
      font-family: 'FFLight';
      font-size: 3em;
      padding-bottom: 0.3%;
      border-bottom: dashed 2px white;
	}
	h3{
		margin: 0;
		padding: 0;
		font-family: 'FFLight';
		font-size: 2em;
	}

  }


  .button-finish,.button-finishd{
    position: absolute;
    right: 2%;
    top: 12%;
  }

  .button-continuar{
    position: absolute;
    right: 2%;
    top: 12%;
  }
