@import "../_variables";
@import "./variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/animate.css/animate";

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf');
}
@font-face {
    font-family: 'FFLight';
    src: url('../fonts/FF_DIN_Pro_Light.otf');
}

@font-face {
    font-family: 'FFBold';
    src: url('../fonts/FF_DIN_Pro_Bold.otf');
}

@font-face {
    font-family: 'FFCondBold';
    src: url('../fonts/FF_DIN_Pro_Cond_Bold.otf');
}

@font-face {
    font-family: 'FFCondRegular';
    src: url('../fonts/FF_DIN_Pro_Cond_Regular.otf');
}

@font-face {
    font-family: 'FFCondLight';
    src: url('../fonts/FF_DIN_Pro_Cond_Light.otf');
}

@font-face {
    font-family: 'FFLight';
    src: url('../fonts/FF_DIN_Pro_Light.otf');
}

@font-face {
    font-family: 'FFThin';
    src: url('../fonts/FF_DIN_Pro_Thin.otf');
}

@font-face {
    font-family: 'Wingding';
    src: url('../fonts/wingding.ttf');
}
@font-face {
    font-family: 'century';
    src: url('../fonts/CenturyGothic.ttc');
}
@font-face {
    font-family: 'gothic';
    src: url('../fonts/GOTHIC.TTF');
}
@font-face {
    font-family: 'myriadRegular';
    src: url('../fonts/MyriadPro-Regular.otf');
}

body{
    background-color:$base;
    // background-image:url('../img/sky.jpg');
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html{
    &:not(.is-mobile){
        body{
            touch-action: auto !important;
            user-select: auto !important;
        }

        .click-me:not(.clicked):not(:hover):not(.disabled){
            -webkit-animation: clickMe 1.5s infinite linear;
            animation: clickMe 1.5s infinite linear;
        }

        .hover-me:not(.hovered):not(.disabled){
            -webkit-animation: clickMe 1.5s infinite linear;
            animation: clickMe 1.5s infinite linear;
        }


        .navigation-buttons {
            z-index: 100;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            > * {
              position: absolute;
              transition: all .2s ease;
              border: solid white 3px;
              box-shadow: 0 0 10px black, 0 0 5px black inset;
              text-shadow:  0 0 10px black;

            }

            > .prev {
                padding: 0.5% 3%;
              width: 80px;
              height: 80px;
              left: -3%;
              top: 40%;
              border-radius: 40px;
                &:hover,
                &.highlight{
                  transform: scale(1.1);
                    left: 0.5%;
                    padding: 0.5% 1%;
                    box-shadow: 0 0 10px black, 0 0 5px black inset;
                }
            }

            > .next {
                padding: 0.5% 5% 0.5% 1%;
                width: 80px;
                height: 80px;
                right: -3%;
                top: 40%;
                border-radius: 40px;
                &:hover,
                &.highlight {
                  transform: scale(1.1);
                    right: 0.5%;
                    padding: 0.5% 1.5%;
                    box-shadow: 0 0 10px black, 0 0 5px black inset;
                }
            }

            > .home {
                left: 48%;
                bottom: 0%;
                padding: 0px 40px;
                border-radius: 80px 80px 0 0;
                border-bottom: none;
                &:hover,
                &.highlight {
                    padding: 10px 40px;
                    box-shadow: 0 0 10px black, 0 0 5px black inset;

                }
            }
        }

    }

    &.is-mobile{
        .click-me{
            -webkit-animation: clickMe 1.5s infinite linear;
            animation: clickMe 1.5s infinite linear;
        }

        .navigation-buttons {
            left: auto;
            right: 0;
            bottom: 5%;
            top: auto;
            font-size: 5em;
            box-shadow: -1px -1px 2px rgba(0,0,0,.4);
            z-index: 100
        }
    }
}

 #wrapper{
    background-color:rgba($base, .85);
    transition:all 0.5s ease;
}

.slide{
    color:white;
}

 .ova-header{
    background-color:#FFFFFF;
    padding:30px 40px 10px 40px;

    h1{
        color:$base;
        /* font-weight:bold; */
        padding:0;
        margin:0;
        font-family:'BebasNeue';
        display:inline-block;
        font-size:4em;
        line-height:1.2em;
    }
}


 .ova-unit{
    float:right;

    h2,
    h3,
    h1{
        color:$base;
        margin:0;
        padding:0;
    }

    h2{
        font-family:'FFCondRegular';
        font-size:3.5em;
    }

    h3{
        font-family:'FFCondRegular';
        font-size:2.2em;
        border-bottom:solid 2px $base;
    }

    h1{
        font-size:7em;
        box-sizing:border-box;
        border-bottom:solid 10px $base;
        line-height:1em;
    }

}

 .ova-main-instructions{
     padding: 10px;
    /* margin-top: 20px; */
    color: white;

    h1{
        font-family:'FFLight';
        font-size:3em;
        display:inline-block;
        margin-left:10px;
    }

    .icon-container{
        border:dashed 2px lighten($base, 40%);
        display:inline-block;
        border-radius:100%;
        width:120px;
        height:120px;
        vertical-align:top;
    }

    .icon{
        border-radius:100%;
        background-color:lighten($base, 40%);
        width:90%;
        height:90%;
        margin-left:5%;
        margin-top:5%;
    }

    i.fa{
        font-size:4em;
        color:white;
        position:relative;
        left:50%;
        top:50%;
        transform:translateX(-50%) translateY(-50%);
    }

    .top-instructions{
        margin-bottom:20px;
    }

    .inner-instructions{
        width:50%;
        float:left;

        .instruction{
            float:left;
            width:100%;
            margin:10px 0;
        }

        b{
            color:lighten($base, 45%);
        }

        .icon{
            border-color:white;
            float:left;
            background-color:white;
        }

        .icon-container{
            border-color:white;
        }

        i.fa{
            color:$base;
        }

        h2{
            width:70%;
            display:inline-block;
            margin-left:10px;
            font-size:1.8em;
            font-family:'FFLight';
            line-height:1.3em;
            text-align:justify;
        }
    }

}


 .vertical .ova-main-instructions .inner-instructions{
   width:100%;
}


 .slide:nth-child(1n+2){
    // height:calc(100% - 90px);
    padding-top:70px;
}

 .ova-content-header{
    position: absolute;
    width: 100%;
    font-family: 'FFCondRegular';
    // background-color: $base;
    // padding: 0px 50px;
    color: white;
    height:80px;
    z-index:10;

    h1,
    h2,
    h3,
    span{
        margin:0;
        padding:0;
    }

    .fullscreen{
        i{
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            font-size: 3.4em;
            margin-top: 12px;
            transition:all 0.35s ease;
            cursor:pointer;

            &:hover{
                font-size:3.5em;
            }
        }
    }
}

.ova-content-footer{
    position: absolute;
    width: 100%;
    font-family: "FFCondRegular";
    background-color: $base;
    padding: 1px 0px;
    color: #fff;
    bottom: 0;
    text-align: center;
    z-index: 20;

    .copy-container{
        float: right;
        margin-right: 8px;
        h3{
            padding:10px 0;
            margin:0;
            font-family: 'century';
            font-size:1em;
            text-align: right;
        }
    }
    .icon-oka{
        float: right;
        margin-right: 50px;
        width: 60px;
        height: 20px;
        margin-top: 15px;
        background: url(../img/oka-id.png)50%;
        background-size: cover;
    }
    .team{
        padding: 3px 12px;
        font-size: 2.5em;
        background-color:darken($base, 10%);
        border-left:solid 1px white;
        position:absolute;
        right:0;
        top:0;
    }


    ////////

    .unit-title{
        margin-top:0;
        border: solid green;

        h1{
            font-size:2.5em;
        }

        h2{
            font-size:1.6em;
        }
    }

    .unit-abbrev-title h1{
        font-family:'BebasNeue';
        font-size:4.3em;
        border-top:solid 2px white;
        border-bottom:solid 2px white;
    }

    .unit-info{
        > *{
            display:inline-block;
        }

        h2{
            font-family:'FFBold';
            color:darken($base, 15%);
            font-size: 2.2em;
        }
        span{
            font-size:2em;
        }
    }

    .ova-title h2{
        font-family: 'century';
        font-size: 1.2em;
        margin: 0;
        text-align: left;
        margin-top: 8px;
    }


    .esap-logo{
        width: 53px;
        height: 53px;
        background-image: url(../img/esap_logo/esap_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        /* background-color: purple; */
        display: inline-block;
        float: left;
        background-position: 50% 50%;
        margin:0 10px;
    }

    .main-info{
        display: inline-block;
        float: left;
        padding: 0;
        max-width: 700px;

    }



    ////
}

.progress-bar{
    width:78.5%;
    position: absolute;
    height:8px;
    background:lighten($base, 100%);
    top: 45%;
    .inner-bar{
        float:left;
        height:100%;
        transition:all 0.85s ease;
        //background-color:darken($base, 10%);
        background-color:#e6a02c;
        width:0%;
    }

    &.progressing{
        .inner-bar{
            background-color:#24f3fd;
        }
    }
}


.secondary-info{
    background-color:darken($base, 15%);
    height:100%;
    float:right;
    display:flex;
    align-items: center;
    padding:0 20px;
    border: solid white 3px;
    box-shadow: 0 0 20px black inset;
    border-radius: 50px 0 0 50px;
    border-right: none;
    margin-top: 5px;
    // font-size:2em;

    > *{
        display:inline;
        vertical-align: middle;
        height:100%;
    }

    .learned-concepts{
        height:100%;
        margin-right:20px;

        .star{
            background-image:url('../img/concept_star.svg');
            background-size:contain;
            width:48px;
            height:100%;
            background-repeat:no-repeat;
            background-position:50% 50%;
            float:right;
        }

        span{
            font-family: 'gothic';
            font-size: 3.8em;
            padding: 0 10px;
        }
    }

    .glossary.disabled,
    .pdf.disabled{
        color:rgba(lighten($base, 25%), 0.4);
    }

    .icon{
        padding:10px;
    }
    .pdf{
        position:relative;
        display:flex;
        align-items:center;
        i{
            font-size:3em;
        }
    }

    .glossary{
        position:relative;
        align-items:center;
        background-image: url(../img/trunk.svg);
        background-size: contain;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-right: 20px;
    }
    .glossary:hover{
        background-image: url(../img/trunk-open.svg);
        filter: drop-shadow(6px 6px 10px #ffeb00);
        -webkit-filter: drop-shadow(6px 6px 10px #ffeb00);
        -moz-filter: drop-shadow(6px 6px 10px #ffeb00);
        -ms-filter: drop-shadow(6px 6px 10px #ffeb00);
    }

    // .arrow{
    //     width:0;
    //     height:0;
    //     border-left:15px solid transparent;
    //     border-right:15px solid transparent;
    //     border-bottom:15px solid #FFFFFF;
    //     position:absolute;
    //     bottom:0;
    //     left:50%;
    //     transform:translateX(-50%);
    // }

    // .disabled > .arrow{
    //     border-bottom:15px solid rgba(lighten($base, 25%), 0.2);
    // }
}


#presentation > .glossary{
    background-color:rgba(darken($base, 15%), 0.9);
    position: fixed;
    z-index: 10;
    color:#FFFFFF;
    font-family:'FFLight';
    height: 100%;
    width: 50%;
    right: 0;
    padding: 30px;
    font-size: 1.4em;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;

    h1{
        border-bottom:solid 1px #FFFFFF;
    }

    .icon i{
        font-size:4em;
    }

    .title,
    .icon,
    .words{
        float:left;
    }

    .title{
        width:85%;
        text-align:right;

        h1{
            font-family:'FFBold';
            font-size:2em;
        }
    }

    .icon{
        width:15%;
        text-align:right;
    }

    .words{
        width:100%;
        overflow-y:auto;
        overflow-x:hidden;
        max-height:60%;
        margin-top:30px;
    }

    .close-action{
        font-size:2em;
    }
}

.team-modal{
    position: absolute;
    height: 90%;
    width: 30%;
    background-color: rgba(darken($base, 25%), 0.9);
    z-index: 100;
    right: 5px;
    color: white;
    font-family: 'gothic';
    transition:all 0.5s ease;
    border-radius: 20px 20px 0 0px;
    padding-left: 1%;
    bottom:0%;

    &.static-team{
        right:auto;
        left:5px;
    }

    &.concealed{
        bottom: -1000px;
    }

    .header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        margin-top:3%;
        background-color:$base;
        text-align: center;
        border-radius: 10px 10px 0px 0px;

        .title{
            width:80%;
            text-align:center;
            margin: 0 auto;

            h2{
                font-size:2em;
                text-align: center;
                padding:0;
                margin:0;
            }
        }
        .icon{
            font-size:5em;
        }
    }

    .body{
        padding: 10px;
        font-family: 'FFLight';
        height: 90%;
        overflow-y: auto;
        section{
            margin-bottom: 25px;
            h3{
                margin:0 0 10px 0;
                padding:5px 0 0 0;
                font-size: 1.5em;
            }
            p{
                margin:0;
                padding:2px 0;
                font-size:2em;
                border-bottom:solid 1px white;
            }
        }
    }
    .close-button{
        position:absolute;
        font-size:4em;
        line-height: 0.5em;
        right:5%;
        top:7px;
        text-shadow: 0 0 10px black;
        // border: solid blue;
    }
}


.navigation-buttons {
    position: absolute;
    display: flex;
    font-size: 3em;
    top: 30%;
    transition: all .5s ease;
    //box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    pointer-events: none;

    >* {
        pointer-events: all;
        padding: 9px 9px;
        background-color: rgba($base,0.5);

        i {
            color: #fff
        }

        &:hover {
            cursor: pointer;
            background-color: lighten($base, 10%);
        }
    }
}

textarea{
    border:solid 2px $base;
    color:$base;
    font-family:'FFLight';
    outline:none;
    resize: none;
    min-width:200px;
    min-height:200px;
    font-size:1.8em;
}


.button{
    background-color:$baseComplement;
    border:solid 2px white;
    padding:10px;
    font-size:2.5em;
    font-family: 'myriadRegular';
    text-align:center;
    display: table;
    margin: 0 auto;
    color: $base;
    text-decoration: none;
    position:absolute;
    transition: all 0.5s ease;
    &:not(.disabled){
        &:hover{
            color: $base;
            background-color:white;
            border-color:$baseDark;
        }
    }

    &.disabled{
        background-color:rgba(0, 0, 0, 0.4) !important;
    }
}

.block{
    height:25%;
}

.big-block{
    height:50%;
}

.darker-text{
    color:darken($base, 20%);
}

.hoverable{
    transition:all 0.2s ease;

    &:not(.disabled):hover{
        cursor: pointer;
        transform:scale(1.1);
    }

    &:not(.disabled):active{
        transition:none;
        transform:scale(1);
    }

}

a{
    color:inherit !important;
}



.swal-button{
    background-color:$base !important
}

iframe{
    border:none;
    outline:none;
}

@-webkit-keyframes shortRotation {
    0% {
            -webkit-transform: rotate(0deg);
    }
    50% {
            -webkit-transform: rotate(85deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}


.rotate-device{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 165, 137, 0.75);
    z-index: 99999;
    color: #FFFFFF;
    font-family: 'FFBold';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:not(.hidden){
        display:flex;
    }

    h1{
        padding:0 20px;
    }

    .phone{
        background-image: url(../img/rotate_device.png);
        width: 100%;
        height: 55%;
        background-position: 50% 50%;
        -webkit-animation: shortRotation 4.5s infinite linear;
        animation: shortRotation 4.5s infinite linear;

    }
}


.concepts-modal{
    position:absolute;
    z-index:9999;
    background-color:rgba(0, 0, 0, 0.8);
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
    align-items: center;

    h1{
        font-family: 'FFBold';
        font-size: 2.7em;
        color: #FFFFFF;
        padding: 20px;
        background-color: $base;
    }
    .star{
        background-image: url(../img/concept_star.svg);
        background-size: contain;
        width: 35px;
        height: 35px;
        float: left;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-right: 20px;
    }
    .close-button{
        position: absolute;
        right: 20px;
        top: 20px;
        color: #FFFFFF;
        font-size: 4em;
        z-index:1;
    }
    .concepts{
        background-color: #FFFFFF;
        max-height: 78%;
        overflow-y: auto;
        .concept{

            color:$base;
            padding:20px;
            .concept-name{
                font-family: 'FFBold';
                font-size: 1.5em;
                padding-right: 5px;
            }

            .concept-description{
                font-family: 'FFLight';
                font-size: 1.6em;
            }
        }
    }
}

.swal2-modal{
    &.concepts{
        width:800px;
        background: $baseComplement;
        border: solid white 5px;
        box-shadow: 0 0 10px black inset;
        h1{
            font-family:'FFBold';
            font-size:2em;
        }
        h2{
            font-family:'FFBold';
            font-size:1.2em;
        }
        .star{
            background-image: url(../img/concept_star.svg);
            background-size: contain;
            width: 55px;
            height: 55px;
            float: left;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin: 0;
            margin-right: 20px;
            margin-top:-10px;
        }
        iframe{
            width: 35%!important;
            min-height: 200px!important;
            overflow: hidden;
        }
        .brain-icon{
            width: 35%;
            height: 247px;
            display:inline-block;
            vertical-align: middle;
            background-size: cover;
            animation-iteration-count: infinite;
        }
        .concepts{
            width: 64%;
            display:inline-block;
            vertical-align: middle;
            .concept{
                color:$base;
                padding:10px 20px;
                text-align: left;
                .concept-name{
                    font-family: 'FFBold';
                    font-size: 1.6em;
                }
                .concept-description{
                    font-family: 'FFLight';
                    font-size: 1.2em;
                }
            }
        }
        .challenge-title{
            width: 125%;
            height: 20%;
            background: $base;
            position: relative;
            left: -15%;
            padding: 2% 3%;
            box-shadow: 0 0 2px 8px rgba($color: black, $alpha: 0.3);
                h3{
                color: white;
                text-align: left;
                font-size: 2em;
                font-family: 'gothic';
                border-bottom: 3px dashed white;
                width: 100%;
                }
                h2{
                    font-family: 'FFLight';
                    color: white;
                    text-align: left;
                }
        }
    }

    &.ova-themed,
    &.lo-themed{
        width:800px;
        padding:20px 40px;
        .swal2-title{
            font-family:'FFBold';
            font-size:3em;
            color:$base;
        }
        .swal2-content{
            font-family:'FFBold';
            font-size:2em;
        }
        button{
            background-color:$base !important;
            border:solid white 3px !important;
            color:white !important;
            font-size:4em !important;
            transition:all 0.5s ease;
            outline:none;
            border-radius: 100px;
            line-height: 0em;
            padding: 0;
            &:hover{
                color: $base !important;
                background-color:white !important;
                border-color:$base !important;
                box-shadow: 0 0 20px black;
            }
        }
        .button{
            font-size:1em;
            position:static;
            margin:10px auto;
        }


        video {
            width: 100%
        }

        .colored-text {
            color: $base;
        }

        .swal2-title {
            font-family: FFBold;
            font-size: 3em;
            color: $base;
        }

        h1{
            color:$base;
        }
    }
    &.ova-send-activity{
        width:900px;
        padding:20px 40px;
        border: solid white 5px;
        box-shadow: 0 0 10px black inset;
        background-color:$baseComplement;
        a{
            text-decoration: none!important;
        }
        span{
            font-size: 1.6em;
        }

        h1{
            color:$base;
            font-family: 'FFBold';
            font-size: 2em;
            margin: 0;
            margin-bottom: 3%;
        }

        iframe{
            width: 35%!important;
            min-height: 247px!important;
            overflow: hidden;
            margin-top: -20%;
        }
        // .brain-icon{
        //     width: 35%;
        //     height: 247px;
        //     display:inline-block;
        //     vertical-align: middle;
        //     background-size: cover;
        //     animation-iteration-count: infinite;
        // }

        .content-download{
            display: inline-block;
            vertical-align: top;
            width: 45%;
            height: auto;
            padding: 4%;
            background: $base;
            color: white;
            box-shadow: 0 0 2px 8px rgba($color: black, $alpha: 0.3);

            h2{
                color: white;
                font-family: 'FFLight';
                font-family: 3em;
                margin: 0;
                padding: 0;
                margin-top: 10%;
            }
            .button-down-pdf{
                width:150px;
                height:150px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                background: $baseComplement;
                color:$base;
                font-size: 5em;
                padding-top: 6%;
                box-shadow: 0px 0px 5px 8px rgba($color: black, $alpha: 0.3);
                i{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: #00C395;
                    position: absolute;
                    color:white;
                    font-size: 0.6em;
                    top: 0%;
                    padding-top: 5%;
                    animation: down 1.5s infinite ease-out;
                }
                @keyframes down {
                    0%{top: 0%;}
                    60%{opacity:1;}
                    100%{top:50%; opacity:0;}
                }
            }
            .button-down-pdf:hover{
                background: white;
                box-shadow: 0px 0px 20px 10px rgba($color: black, $alpha: 0.3);
            }

        }

        .content-sendActivity{
            display: inline-block;
            vertical-align: top;
            width: 45%;
            height: auto;
            padding: 4%;
            background: $base;
            color: white;
            margin-left: 5%;
            box-shadow: 0 0 2px 8px rgba($color: black, $alpha: 0.3);

            h2{
                color: white;
                font-family: 'FFLight';
                font-family: 3em;
                margin: 0;
                padding: 0;
                margin-top: 10%;
            }
            .button-send{
                width:150px;
                height:150px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                background: $baseComplement;
                color:$base;
                font-size: 5em;
                padding-top: 6%;
                box-shadow: 0px 0px 5px 8px rgba($color: black, $alpha: 0.3);
                i{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: #00C395;
                    position: absolute;
                    color:white;
                    font-size: 0.6em;
                    top: 50%;
                    padding-top: 5%;
                    animation: up 1.5s infinite ease-out;
                }
                @keyframes up {
                    0%{top: 50%;}
                    60%{opacity:1;}
                    100%{top:0%; opacity:0;}
                }
            }
            .button-send:hover{
                background: white;
                box-shadow: 0px 0px 20px 10px rgba($color: black, $alpha: 0.3);
            }
        }

        .swal2-title{
            font-family:'FFBold';
            font-size:3em;
            color:$base;
        }
        .swal2-content{
            font-family:'FFBold';
            font-size:2em;
        }


        .button{
            font-size:1em;
            position:static;
            margin:10px auto;
        }
        button{
            background-color:$base !important;
            border-color:$base !important;
            color:white !important;
            font-size:3em !important;
            transition:all 0.5s ease;
            outline:none;
            &:hover{
                color: $base !important;
                background-color:white !important;
                border-color:$base !important;
            }
        }

    }

    &.video{
        padding:0px;
        border:0px;
        width:1300px !important;
        background-color:transparent;
        .swal2-footer{
            display:none;
        }

        .swal2-header{
            height:0;

            .swal2-close{
                font-size: 5em !important;
                display: flex;
                background-color: rgba(0, 0, 0, 0.5) !important;
                border-radius: 100%;
                right: -70px;
                top: 0;
                &:hover{
                    color:#000000 !important;
                    background-color:rgba(255, 255, 255, 1) !important;
                }
            }

            .swal2-title{
                display:none;
            }
        }

        iframe{
            height:733px;
        }

        .swal2-content{
            background-color:transparent;
        }
    }

    &.biggest {
        width: 1400px;
    }

    &.full-size {
        width:100%;
    }

    &.bigger{
        width:800px;
    }
}

.modal {
    display: block;

    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .close-button {
        position: absolute;
        cursor: pointer;
        font-size: 4em;
        z-index: 2;
        color: #fff;
        right: 20px;
        top: 20px;
    }
}

@-webkit-keyframes clickMe {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}

.is-dragging{
    pointer-events: none;
}

[data-ani-class="bounceIn"]:not(.bounceIn),
[data-ani-class="zoomIn"]:not(.zoomIn),
[data-ani-class="bounce"]:not(.bounce),
[data-ani-class="fadeInRight"]:not(.fadeInRight),
[data-ani-class="fadeInLeft"]:not(.fadeInLeft),
[data-ani-class="fadeInDown"]:not(.fadeInDown),
[data-ani-class="fadeInUp"]:not(.fadeInUp),
[data-ani-class="slideInRight"]:not(.slideInRight),
[data-ani-class="slideInLeft"]:not(.slideInLeft),
[data-ani-class="slideInDown"]:not(.slideInDown),
[data-ani-class="slideInUp"]:not(.slideInUp){
    opacity:0;
}

.cloud{
    -webkit-animation-name: cloudMovement;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition-timing-function: linear;
    animation-name: cloudMovement;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}


@-webkit-keyframes cloudMovement {
    0% {
        left: -50%;
    }
    100% {
        left: 100%;
    }
}

.animations-disabled{
    animation: none !important;
    -webkit-animation: none !important;
}

#modal-container{
    top: 0%;
    position: absolute;
    width: 100%;
    height: 94%;
    z-index:200;
    pointer-events:none;

    >.swal2-container{
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 99;
        pointer-events: all;
    }
}

.slide{
    .navigation-buttons{
        z-index:100 !important;
    }

    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;
        z-index:30;

        &.visible{
            display:block;
        }
    }
}
