<div class="navigation-buttons">
    <div class="prev">
        <i class="fa fa-chevron-left"></i>
    </div>
    <div class="home">
        <i class="fa fa-home"></i>
    </div>
    <div class="next">
        <i class="fa fa-chevron-right"></i>
    </div>
</div>